<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyShop</display-name>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.jiaoyu.myfilter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.jiaoyu.servlert.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/CheckImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myproductServlet</display-name>
    <servlet-name>myproductServlet</servlet-name>
    <servlet-class>com.jiaoyu.servlert.myproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myproductServlet</servlet-name>
    <url-pattern>/myproductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.jiaoyu.servlert.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.jiaoyu.servlert.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.jiaoyu.servlert.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServletUpImg</display-name>
    <servlet-name>adminServletUpImg</servlet-name>
    <servlet-class>com.jiaoyu.servlert.adminServletUpImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServletUpImg</servlet-name>
    <url-pattern>/adminServletUpImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addProductbyEdit</display-name>
    <servlet-name>addProductbyEdit</servlet-name>
    <servlet-class>com.jiaoyu.servlert.addProductbyEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProductbyEdit</servlet-name>
    <url-pattern>/addProductbyEdit</url-pattern>
  </servlet-mapping>
</web-app>